.main-nav2-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid black;
}

.main-nav2-container span:first-child{
    color: #79578D;
    font-weight: 700;
    font-size: 30px;
}

.main-nav2-container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.main-nav2-container div span{
    color: white;
    background-color: #79578D;
    padding: 15px;
    border-radius: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 60%;
   }
   
   .input-search {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input-search::placeholder {
    color: #9e9ea7;
   }
   
   .input-search:focus, input-search:hover {
    outline: none;
    border-color: #79578D;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .search-icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
   
   
   
   